
.today{
    width: 40px;
    height: 40px;
    border: 1px solid #555;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 54px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.icon{
    width: 30px;
    height: 30px;
}