
.block{
    margin: 15px;
}


.icon{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-left: 10px
}

.title{
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
    color: #2c3e50;
    margin-top: 30px;
}

.subtitle{
    color: #2c3e50;
    font-size: 16px;
    line-height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.terminal{
    padding: 10px 20px;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ul{
    color: #34495e;
    margin-left: 15px;
    font-size: 16px;
}

.pop{
    margin-left: 15px;
    font-weight: 500;
    line-height: 30px;
}