
.everyday-sentence{
    width: 250px;
    height: 500px;
    border-radius: 10px;
    box-shadow: #ccc;
    box-shadow: 0 0 1em #eee;
    position: fixed;
    animation: slide-in 2s ;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: #fff;
}

@keyframes slide-in {
    0% { transform: translateX(100%) translateY(-50%);}
    100% {transform: translateX(0) translateY(-50%);}
}