
.head{
    background: #f5f5f5;
    padding: 25px 20px;
    .author{
        font-size: 22px;
        font-weight: bolder;
        line-height: 34px;
        position: relative;
        display: inline-block;
    }
    .line{
        display: block;
        overflow: hidden;
        margin: 0 auto;
        width: 75%;
        height: 2px;
        background: #222;
    }
    .menu{
        float: right;
        font-size: 13px;
        color: #555;
        margin-right: 40px;
        .menuitem{
            display: inline-block;
            margin-left: 30px;
            span{
                vertical-align: middle;
            }
            cursor: pointer;
        }
        .menuicon{
            vertical-align: middle;
            width: 13px;
            height:13px;
            margin-right: 5px;
        }
    }
}