@import './variables.scss';


@include baseFontSize();

:global {




.h-100{
    height: 100%;
}

.oa{
    overflow: auto;
}

.oh{
    overflow: hidden;
}


.ta-c{
    text-align: center;
}

.ta-l{
    text-align: left;
}


.cp{
    cursor: pointer;
}






.mt-30{
    margin-top: 30px;
}

.mt-60{
    margin-top: 60px;
}

.ml-20{
    margin-left: 20px;
}

.oh{
    overflow: hidden;
}


.pos-r{
    position: relative;
}


.td-o{
    text-decoration: overline;
}


text{
    margin-top: 10px;
    text-indent: 2em;
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}


codeBlock{
    background-color: #f8f8f8;
    padding: 5px;
    border-radius: 5px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    color: #34495e;
    overflow: auto;
    ul{
        text-indent: 2em;
    }
    li{
        text-indent: 4em;
        line-height: 20px;
    }
    code{
        text-indent: 2em;
        margin-top: 5px;
        margin-bottom: 8px;
        word-break: break-all;
        display: block;
        p{
            text-indent: 4em;
            line-height: 14px;
        }
    }
    div{
        margin-top: 10px;
        word-break: break-all;
    }

    p{
        line-height: 20px;
    }
}



}
