
.popright{
    position: fixed;
    right: -17px;
    top: 100px;
    bottom: 50px;
    background-color: #fff;
    border-radius: 5px;
    width: 450px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    transition: width 0.4s ease-in-out;
    overflow: auto;
    font-family: monospace;
    color: #34495e;
    .content{
        padding: 15px;
        padding-right: 32px;
        title{
            color: #2c3e50;
            font-size: 18px;
            display: block;
            font-weight: 600;
        }

        div{
            margin-top: 10px;
            word-break: break-all;
        }
    
        p{
            line-height: 20px;
        }
    }
   


}